<% CategoryJob.all.each do |job| %>
  <div class = "flex pt-6">
    <div class = "h-12 w-36 bg-gradient-to-r from-yellow-400 via-red-500 to-pink-500">
      <div class = "grid justify-center h-11 w-auto bg-white">
        <p class = "text-black"><%= job.category_name %></p>
      </div>
    </div>
  </div>
<% end %>
