<div class = 'container'>
        <h1 class = "font-extrabold text-4xl text-center">Wybierz swoją branże!</h1>
        <p class = "font-light text-center">Znajdziesz u nas 100000 ofert.</p>
        <div class = "inline-flex space-x-4">
        <%= render partial: 'category_jobs/index' %>
        </div>
</div>
