<h1>Strona z ofertami<h1>

    <div class = "bg-gray-100">
      <div class="lg:w-1/3 pl-6 pt-6 pb-6">
        <% if @job_offer.present? %>
          <% @job_offer.each do |job| %>
          <div class = "pb-6">
            <div class="flex shadow-lg">
              <div class="h-full text-left px-4 py-4 w-full justify-end rounded-lg bg-white">
                <a to="jobdet" class="flex items-center flex-wrap">
                  <img alt="testimonial" class="inline-block object-cover object-center w-16 h-16 mb-4 rounded" src="https://dummyimage.com/302x302/94a3b8/ffffff" /> <span class="flex flex-col flex-grow pl-4">
                    <span class="font-bold text-lg text-black -mt-4">Software developer </span>
                    <span class="text-sm text-gray-500">Location: Lomndon sdf</span>
                  </span>
                </a>
                <div class="flex items-center flex-wrap ">
                  <a to="jobdet" class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0 px-2 py-1 border-2 border-indigo-500 rounded-full text-sm">Remote Full Time
                  </a>
                  <span class="mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 px-2 font-extrabold text-transparent bg-clip-text bg-gradient-to-br from-pink-400 to-red-600 rounded-full">
                    New 
                  </span>
                  <%= link_to "Aplikuj", root_path, class: "text-center font-bold" %>
                </div>
              </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <h1>Obecnie nie ma zadnej oferty pracy</h1>
        <% end %>
      </div>
    </div>
